ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
    font-size: 13px;
}

li {
    float: right;
    display: inline-block;
}

li a {
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
body{
	font-family: arial, sans-serif;
}
.searchbar{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}